<header class="navbar navbar-fixed-top navbar-inverse">
    <div clss="container">
       <a href="#" id="logo">sample app</a>
       <nav>
           <ul class="nav navbar-nav navbar-right">
               <li class="nav-item"><a goto="home-page">Home</a></li>
               <li class="nav-item"><a goto="help-page">Help</a></li>
               <li class="nav-item"><a goto="login-page">Log in</a></li>
           </ul>
       </nav>
    </div>

</header>