<div class="center jumbotron">
<h1>Welcome to the Sample App</h1>
<h2>This is the home page for <a href="https://railstutorial.jp/">the Ruby on Rails Tutorial</a> Sample application.</h2>
<%= link_to "Sign uo now!", '#', class: "btn btn-lg btn-primary"%>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/>'%>
