<footer class="footer">
    <small>
        The <a href="https://railstutorial.jp/">Ruby on Rails Tuorial</a> by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <nav>
        <ul>
            <li class="nav-item"><a goto="about-page">About</a></li>
            <li class="nav-item"><a goto="content-page">Content</a></li>
            <li class="nav-item"><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>