<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
        This is the home page for the 
        <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
        sample application.
    </h2>
    <button class="btn btn-lg btn-primary" href="#">Sign up now!</button>
</div>
<img alt="Rails logo" src="assets/rails.png">